.red {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-bottom: -50px;
}

.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin-bottom: -50px;
}

.yellow {
  width: 100px;
  height: 100px;
  background-color: yellow;
}
