.arrow_buttons {
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  border: 1px red solid;
  position: relative;
}

.arrow_buttons__prev {
  position: absolute;
  top: 8px;
  right: 110px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.arrow_buttons__prev:hover {
  transition-duration: 0.2s;
  transform: translateX(-10px);
}

.arrow_buttons__prev::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 40%;
  left: 10px;
  margin-top: -2.5px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  transform: rotate(225deg);
}

.arrow_buttons__next {
  position: absolute;
  top: 8px;
  left: 110px;
  cursor: pointer;
  color: lightgray;
  width: 30px;
  height: 30px;
}

.arrow_buttons__next:hover {
  transition-duration: 0.2s;
  transform: translateX(10px);
}

.arrow_buttons__next::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 40%;
  right: 10px;
  margin-top: -2.5px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  transform: rotate(45deg);
}
